<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/customStyles.css" media="screen">
    <script src="/static/jquery-1.11.1.min.js"></script>
    <!-- <script src="/static/bootstrap.min.js"></script>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to Youtube Sentiment Analysis</title>
    {% endif %} -->
  </head>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="/index">Home</a></li>
      <li role="presentation"><a href="/search">Search</a></li>
    </ul>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>