<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Search for videos</h1>

  <form id="searchForm" method="POST" class="form-inline">
  	{{ form.hidden_tag() }}
  	<div class="form-group">
  		<label class="sr-only" for="search">Search word:</label>
  		<input class="form-control" id="search_word" name="search_word" type="text" placeholder="Please type your search word here...">
  	</div>
  	<button class="btn btn-default" type="submit">Search</button>
  </form>
   
    {% if commentlist %}
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}

      <h2>Video comments:</h2>
      {% for comment in commentlist %}
        <div><p>{{ comment }}</p></div>
      {% endfor %}

    {% endif %}

    {% if sentiment %}
      <hr>
      <h2>Sentiment Analysis:</h2>

    {% endif %}

    <h3>Commentlist: </h3><p>{{ commentlist }}</p>
    <h3>sentiment: </h3><p>{{ sentiment }}</p>
    <h3>Words: </h3><p>{{ words }}</p>
    <h3>Worddict 'happy': </h3><p>{{ word_dict['happy'] }}</p>
{% endblock %}