<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Search for videos</h1>
  <br>
  
  <form id="searchForm" method="POST" class="form">
  	{{ form.hidden_tag() }}
  	<div class="form-group">
  		<label for="search_word">Search word:</label>
  		<input class="form-control" id="search_word" name="search_word" type="text" placeholder="Please type your search word here...">
      <br>
      <label for="nr_of_results">No. of videos:</label>
      <input class="form-control" id="nr_of_results" name="nr_of_results" type="text" placeholder="Please type a number of videos...">
  	</div>
  	<button class="btn btn-default" type="submit">Search</button>
  </form>

        <div>{{ sentiment }}</div>
        <div>{{ ratings }}</div> 

    {% if commentlist %}
      <hr>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        {% endif %}
      {% endwith %}
      
      <h2>Videos:</h2>

      {% for name, link, plot in zipped %}
      <div>{{ name.decode('utf-8') }}</div>
      <div><a href="{{ link.decode('utf-8') }}">See the video here</a></div>
      <div>{{ plot|safe }}</div>

      <br>
      {% endfor %}
    {% endif %}
    
    {% if sentiment %}
<!--       <hr>
      <h2>Sentiment Analysis:</h2>
      <strong>Video comments:</strong>

      {% for list in commentlist %}
          {% for comment in list %}
            <p> {{ comment.decode('utf-8') }}</p>
          {% endfor %}
        {% endfor %}
 -->
<!--       {% for plot in plot_list %}
      <div>{{ plot|safe }}</div>
      {% endfor %} -->
    {% endif %}

<!--       {% for plot in plots %}
      <div>{{ plot|safe }}</div>
      {% endfor %} -->

      <hr>
      <h2>Pie chart:</h2>
      <img src="http://localhost:5000/plot.png?sentiment={{sentiment}}" alt="plot" height="485" width="645">
      <br>
      
<!--       <iframe class="plot" src="http://localhost:5000/plot.png"></iframe> -->
    


{% endblock %}